<div id="topSlider" class="ff_topSlider mslider module">
    <div class="content_wrapper">
        <div class="content_list owl-carousel owl-theme" data-slider-height="500" data-slider-auto="1"
             data-slider-mode="3" data-slider-pause="5" data-slider-ease="ease-out" data-slider-speed="1"
             style="height:500px">
            <div class="item_block">
                <div class="item_bg image" style="background-image:url(/statics/images/e.jpg)">
                    <a href="{% url 'comment' 13 %}"></a>
                </div>
            </div>
            <div class="item_block">
                <div class="item_bg image" style="background-image:url(/statics/images/b.jpg)"></div>
                <a href="{% url 'comment' 6 %}"></a>
            </div>
            <div class="item_block">
                <div class="item_bg image" style="background-image:url(/statics/images/c.jpg)"></div>
                <a href="{% url 'comment' 129 %}"></a>
            </div>
            <div class="item_block">
                <div class="item_bg image" style="background-image:url(/statics/images/d.jpg)"></div>
                <a href="{% url 'comment' 87 %}"></a>
            </div>
        </div>
        <div class="sliderArrow">
            <div></div>
        </div>
        <div class="clear"></div>
    </div>
</div>