<div id="footer">
    <p><span class="ellipsis">猫耳影评</span>
        <a class="beian" href="http://www.wangdahai.cn/"
           style="color: #7f7f7f;vertical-align: top;margin-left: 10px;display: inline-block;" target="_blank">站长资源</a>
    </p>
</div>
<div id="shares">
    <a href="javascript:void(0)" id="sweixin"><i class="fa fa-mobile"></i></a>
    <a href="javascript:void(0)" id="gotop"><i class="fa fa-angle-up"></i></a>
</div>
<div id="online_open"><i class="fa fa-comments-o"></i></div>
<div id="online_lx">
    <div id="olx_head">咨询<i class="fa fa-times fr" id="online_close"></i></div>
    <ul id="olx_qq">
        <li>
            <a href="javascript:void(0)"><i class="fa fa-qq"></i>940757154</a>
        </li>
    </ul>
    <div id="olx_tel">
        <div><i class="fa fa-phone"></i>联系电话</div>
        <p><br/></p>
    </div>
</div>
<a id="openAssist" href="javascript:void(0)"><i class="icon iconfont icon-add"></i></a>
<div id="assistBtn">
    <a href="javascript:void(0)" onclick="$('html,body').scrollTop(0);return false;"><i class="fa fa-angle-up"></i></a>
    <a href="javascript:void(0)"><i class="fa fa-phone"></i></a>
    <a href="javascript:void(0)"><i class="fa fa-qq"></i></a>
</div>
<div class="hide"></div>